<div>
  {{!-- Mailer addon --}}
    
  <form method="post" action="/share-post">
    <h3 name="postTitle">{{title}}</h3>
    <h3 name="postTitle" name="postContent">{{content}}"</h3>
    <label for="userEmail">Email:</label>
    <input type="email" name="userEmail" required>
    <button class="btn btn-primary share-post" data-post="{{id}}">Share</button>
  </form>
    
</div>