/* main pages */

* {
  box-sizing: border-box;
  margin: 0;
}

/* Style for header */
header {
  background-color: #2315eb;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link {
  text-decoration: none;
  color: gold;
  font-size: 36pt;
}

.header-link:hover {
  color: rgb(59, 34, 34)
}

/* Style for navigation bar */
nav {
  display: flex;
}

.nav-link {
  padding: 0;
  margin: 10px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}



/* Style for logout button */
#logout {
  padding: 0 25px 0 25px;
  text-align: center;
}

/* homepage */

img {
  max-width: 200px;
  max-height: 200px;
}

.post {
  margin: 0;
  font-size: 16pt;
}

.post-link {
  text-decoration: underline;
  color: darkblue;
  margin: 0;
}

.post-link:hover {
  color: rgb(90, 11, 155);
  background-color: lightblue;
}

.post-author {
  margin: 0;
  font-weight: bold;
  font-size: 14pt;
}

.post-location {
  margin: 0;
}

.post-content {
  margin: 0;
  font-size: 12pt;
}

.type-search {
  display: flex;
  flex-direction: row;
}

.pet {
  display: flex;
  flex-direction: row;
}

.family {
  display: flex;
  flex-direction: row;
}

.all-comments {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.comment {
  border: 1px solid lightblue;
  margin: 5px;
  padding: 5px 0 0 5px;
  width: auto;
}

.comment-user {
  border-bottom: 1px dashed lightblue;
  margin-bottom: 5px;
}

.comment-text {
  padding: 0;
  margin: 5px;
}

.homepage {
  margin: 10px 10px 0 10px;
}

.login-page {
  margin: 10px 10px 0 10px;
}

.dashboard-page {
  margin-top: 10px;
}

.post-page {
  margin: 10px;
}

main {
  margin: 20px;
}


@media screen and (max-width: 900px) {
  header {
    justify-content: center;
    text-align: left;
  }

  header nav {
    flex-wrap: wrap;
    justify-content: right;
  }


}

@media screen and (max-width: 412px) {
  header {
    justify-content: center;
    text-align: center;
    padding: 32px;
    flex-direction: column;
  }

  .header-link {
    font-size: 28pt;
  }

  header nav {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }

  .post {
    font-size: 14pt;
  }

  .post-link {
    font-size: 20pt;
  }
    
  .post-author {
    font-size: 14pt;
  }
  
  .post-content {
    font-size: 12pt;
  }

}

@media screen and (max-width: 280px) {
  header {
    justify-content: center;
    text-align: center;
    padding: 32px;
    flex-direction: column;
  }

  .header-link {
    font-size: 24pt;
  }

  header nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-link {
    margin: 1px 0 1px 1px;
  }

  .post {
    font-size: 10pt;
  }

  .post-link {
    font-size: 16pt;
  }
    
  .post-author {
    font-size: 12pt;
  }
  
  .post-content {
    font-size: 12pt;
  }

  .allposts-title {
    font-size: 20pt;
  }

  .allposts-author {
    font-size: 16pt;
  }

  .userpost-title {
    font-size: 18pt;
  }

  .userpost-content {
    font-size: 12pt;
  }
}