/* main pages */

* {
  box-sizing: border-box;
  margin: 0;
}

/* Style for header */
header {
  background-color: #2315eb;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link {
  text-decoration: none;
  color: gold;
  font-size: 36pt;
}

.header-link:hover {
  color: rgb(59, 34, 34)
}

/* Style for navigation bar */
nav {
  display: flex;
}

.nav-link {
  padding: 0;
  margin: 10px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}



/* Style for logout button */
#logout {
  padding: 0 25px 0 25px;
  text-align: center;
}

/* homepage */

.post {
  margin: 15px 0 5px 10px;
  font-size: 16pt;
}

.post-link {
  text-decoration: underline;
  color: darkblue;

}

.post-link:hover {
  font-style: oblique;
  color: rgb(90, 11, 155);
}

.post-author {
  margin: 5px;
  font-weight: bold;
  font-size: 14pt;
}

.post-content {
  margin: 5px;
  font-size: 12pt;
}

.login-page {
  margin: 10px 10px 0 10px;
}

.dashboard-page {
  margin: 10px 10px 0 10px;
}

.post-page {
  margin: 10px 10px 0 10px;
}

main {
  margin: 20px;
}

@media screen and (max-width: 900px) {
  header {
    justify-content: center;
    text-align: left;
  }

  header nav {
    flex-wrap: wrap;
    justify-content: right;
  }


}

@media screen and (max-width: 400px) {
  header {
    justify-content: space-between;
    text-align: left;
    padding: 30px 60px 30px 30px;
  }

  .header-link {
    font-size: 30pt;
  }

  header nav {
    flex-wrap: wrap;
    justify-content: right;
  }

  .nav-link {
    margin: 5px 0 5px 1px;
  }

  .post {
    margin: 15px 0 5px 10px;
    font-size: 16pt;
  }
  
  .post-link {
    text-decoration: underline;
    color: darkblue;
  
  }
  
  .post-link:hover {
    font-style: oblique;
    color: rgb(90, 11, 155);
  }
  
  .post-author {
    margin: 5px;
    font-weight: bold;
    font-size: 14pt;
  }
  
  .post-content {
    margin: 5px;
    font-size: 12pt;
  }

}

@media screen and (max-width: 280px) {
  header {
    justify-content: center;
    text-align: center;
    padding: 32px;
    flex-direction: column;
  }

  .header-link {
    font-size: 24pt;
  }

  header nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-link {
    margin: 1px 0 1px 1px;
  }

  .post {
    margin: 15px 0 5px 10px;
    font-size: 10pt;
  }

  .post-link {
    font-size: 16pt;
  }
    
  .post-author {
    font-size: 12pt;
  }
  
  .post-content {
    font-size: 12pt;
  }
}